@import url("https://fonts.googleapis.com/css?family=Roboto:regular,900&display=swap");
@import "null";
.cards {
	font-family: Roboto;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
	transition: all 1s;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("../img/load0.jpg");
	background-attachment: fixed;
	padding: 50px 0;
	@media (max-width: 767.98px) {
		padding: 150px 0;
	}

	// .cards__container
	&__container {
		display: flex;
		width: 90vw;
		@media (max-width: 767.98px) {
			flex-direction: column;
		}
	}
	// .cards__card
	&__card {
		background-position: center;
		background-size: cover;
		overflow: hidden;
		height: 80vh;
		transition: 1s;
		filter: grayscale(1);
		background-repeat: no-repeat;
		color: white;
		box-shadow: inset 0 0 0 2px yellow;
		cursor: pointer;
		flex: 0.5;
		position: relative;
		margin: 10px;
		display: flex;
		align-items: flex-end;
		@media (max-width: 768px) {
			margin: 0;
			height: 60px;
			flex: 0 1 auto;
		}
		transition: flex 0.5s ease-in-out;
		@for $i from 1 through 10 {
			&:nth-child(#{$i}) {
				background-image: url("../img/#{$i}.jpg");
			}
			&:nth-child(10) {
				background-position: top left;
			}
		}

		// .cards__card_active
		&_active {
			opacity: 1;
			filter: grayscale(0);
			transition: 1s;
			flex: 5;
			@media (max-width: 767.98px) {
				height: 300px;
				transition: 1s;
				flex: 0 1 auto;
			}
			.cards__title {
				opacity: 1;
				transition: all 1s ease-in-out;
				transform: translateY(0);
				@media (max-width: 767.98px) {
					transform: translateX(0);
				}
			}
		}
	}
	// .cards__title
	&__title {
		font-size: 24px;
		margin: 20px;
		padding: 5px;
		opacity: 0;
		position: relative;
		span {
			position: relative;
			z-index: 2;
			background: linear-gradient(to left, #fff200, #ffffff);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			padding: 5px;
			font-weight: 700;
			transform: translateY(100%);
		}
		i {
			position: absolute;
			width: 100%;
			height: 100%;
			background: #000;
			transform: skewX(-25deg);
			opacity: 0.75;
			z-index: 1;
			left: 0;
			top: 0;
		}
		@media (max-width: 768px) {
			font-size: 18px;
			transform: translateX(-100%);
		}
	}
}

audio {
	position: fixed;
	z-index: 10;
	top: 10px;
	left: 10px;
	width: 320px;
	height: 20px;
	&::-webkit-media-controls-panel {
		background-color: #fff200;
	}
	@media (max-width: 767.98px) {
		left: 50%;
		transform: translateX(-50%);
	}
}
