$primary: #0071e3;
$primary-hover: #2282e2;
$dark: #333333;
$light: #fbfbfd;
$grey: lighten($dark, 65%);
$dark-grey: lighten($dark, 30%);
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	border: 1px solid $light;
}
::-webkit-scrollbar-track {
	border-radius: 0;
	background: $light;
}
::-webkit-scrollbar-thumb {
	border-radius: 0;
	background: $primary;
}
