@import "vars";
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,600&display=swap");
@import "null";
.works {
	padding-top: 50px;
	color: $dark;
	overflow: hidden;
	// .works__title
	&__title {
		font-size: 32px;
		font-weight: 600;
		margin-bottom: 32px;
	}
	// .works__list
	&__list {
		margin-bottom: 32px;
		li {
			display: flex;
			align-items: center;
			font-size: 18px;
			margin-bottom: 0.5rem;
			position: relative;
			@media (min-width: 991.98px) {
				transition: 0.3s;
				&:hover {
					transition: 0.3s;
					&::before {
						transition: 0.3s;
						background-color: $light;
					}
					&::after {
						transition: 0.5s;
						width: 250px;
						z-index: -1;
					}
				}
			}
			a {
				color: $primary;
				@media (min-width: 991.98px) {
					transition: 0.3s;
					&:hover {
						transition: 0.3s;
						color: $light;
					}
				}
			}
			&::before {
				content: "";
				width: 16px;
				height: 16px;
				border-radius: 50%;
				border: 2px solid $primary;
				background-color: $primary;
				margin-right: 0.5rem;
			}
			&::after {
				content: "";
				position: absolute;
				top: 0;
				left: calc(16px + 0.5rem);
				width: 0;
				transition: 0.5s;
				height: 100%;
				background-color: $primary-hover;
			}
		}
	}
}
.frame {
	box-shadow: 0 0 5px 0 $primary;
	width: 100vw;
	min-height: 100vh;
	background: linear-gradient(90deg, $dark-grey, $grey);
	transform: scale(0.75) translate(-25%, -15%);
	transition: 0.5s;
	opacity: 0;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		box-shadow: 0 0 5px 0 $dark;
		transition: 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
		&.show {
			opacity: 0;
			animation: opacity 1s ease 0.3s 1 forwards;
		}
	}
}
@keyframes opacity {
	from {
		opacity: 0;
		visibility: hidden;
	}
	to {
		opacity: 1;
		visibility: visible;
	}
}
iframe.mobile {
	width: 390px;
	left: 50%;
	transform: translateX(-50%);
	transition: 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.mobile-toggle {
	display: flex;
	align-items: center;
	font-size: 18px;
	input,
	label {
		cursor: pointer;
		transition: 0.3s;
	}
}
input {
	margin-right: 0.5rem;
	width: 24px;
	height: 24px;
}
