@import "vars";
* {
	box-sizing: border-box;
}
body {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow-x: hidden;
	font-family: Arial;
	background-color: #8ec5fc;
	background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
	color: #2f2c2c;
	overflow-x: hidden;
	padding: 0;
	margin: 0;
}
.content {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 10px;
}
.title {
	margin-bottom: 20px;
	text-align: center;
}
.block {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 700px;
	width: 100%;
	height: 300px;
	margin-bottom: 20px;
	border-radius: 15px;
	font-size: 45px;
	font-weight: 700;
	box-shadow: 2px 4px 5px rgba($color: #000000, $alpha: 0.3), inset 0 0 0 5px snow;
	transform: translateX(400%);
	transition: transform 1s ease;
	&:nth-of-type(even) {
		transform: translateX(-400%);
	}
	&.show {
		transform: translateX(0);
		transition: transform 1s ease;
	}
}
