$primary: #0071e3;
$primary-hover: #2282e2;
$dark: #333333;
$light: #fbfbfd;
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,900&display=swap");
@import "null";
@import "mixins";
@import "cardsAccordion";
@import "components";
@import "modal";
@import "header";
.page {
	@include adaptiv-value("padding-top", 50, 25, 1);
	background: lighten($dark, 65%);
}
